<html lang="en">
   {% load static %}
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Revolving Fund | Regisration Form</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
   </head>
   <body>
      <header>
         <img src="{% static 'images/logo.png' %}" width="100" height="120">		 
      </header>
      <div class="wrapper">
        <form action="/submit" method="post">
            {% csrf_token %}
         <main>
            <div class="info">
               <h3>سلطة الطاقة والموارد الطبيعية الفلسطينية</h3>
               <h2>طلب تسجيل الحصول على نظام طاقة شمسية</h2>
               <div>
                  <img src="{% static 'images/system.png' %}" width = "500" height="300">
               </div>
               <p>يقوم هذا المشروع على دعم المواطنيين الفلسطيين في منطقة الضفة الغربية على تركيب أنظمة الطاقة الشمسية من خلال منحة الصندوق الدوار الممولة من قبل البنك الدولي للحكومة الفلسطيني عبر سلطة الطاقة والموارد الطبيعية الفلسطينية</p>
            </div>
            <form action="#" method="GET">
               <fieldset class="contact-info">
                  <div class="container">
                     <legend>معلومات الأسرة</legend>
                     <p>
                        <label for="name">الإسم الرباعي</label>   
                        <input type="text" id="name" name="user_name" title="يرجى تعبئة الإسم الرباعي" required> 
                     </p>
                     <p>
                        <label for="email">رقم الهوية</label>   
                        <input type="text" id="email" name="user_email" title="يرجى تعبئة رقم الهوية" required> 
                     </p>
                     <p>
                        <label for="zipcode">عدد أفراد الأسرة</label>
                        <input type="number" min="0"  id="zipcode" name="user_zipcode" required>
                     </p>
                     <p>
                        <label for="city">معيل الأسرة</label>  
                        <input type="text" id="city" name="user_city" required> 
                     </p>
                     <p>
                        <label for="state">المدينة</label>
                        <select id="state" name="user_state" required>
                           <option value="">----</option>
                           <option value="القدس">القدس</option>
                           <option value="طولكرم">طولكرم</option>
                           <option value="قلقيلية">قلقيلية</option>
                           <option value="بيت جالا">بيت جالا</option>
                           <option value="بيت ساحور">بيت ساحور</option>
                           <option value="أريحا">أريحا</option>
                           <option value="سلفيت">سلفيت</option>
                           <option value="بيت لحم">بيت لحم</option>
                           <option value="جنين">جنين</option>
                           <option value="نابلس">نابلس</option>
                           <option value="رام الله والبيرة">رام الله والبيرة</option>
                           <option value="طوباس">طوباس</option>
                           <option value="الخليل">الخليل</option>
                           <option value="جنوب الخليل">جنوب الخليل</option>
                        </select>
                     </p>
                     <p>
                        <label for="address">العنوان</label>   
                        <input type="text" id="address" name="user_address" required>
                     </p>
                     <p>
                        <label for="mobile_number">رقم المحمول</label>
                        <input type="number" min="0" id="mobile_number" name="mobile_number" required>
                     </p>
                     <p>
                        <label for="whatsapp_number">رقم الواتساب</label>
                        <input type="number" min="0" id="whatsapp_number" name="whatsapp_number" required>
                     </p>
                  </div>
               </fieldset>
               <fieldset class="newsletter">
                  <div class="container">
                     <legend>معلومات المنشأة</legend>
                     <p>موزع الكهرباء في منطقتك</p>
                     <div>
                        <label>
                        <input type="checkbox" class="radio" value="شركة كهرباء" name="distributor" />شركة كهرباء</label>
                        <label>
                        <input type="checkbox" class="radio" value="مجلس بلدي" name="distributor" />مجلس بلدي</label>
                        <label>
                        <input type="checkbox" class="radio" value="مجلس قروي" name="distributor" />مجلس قروي</label>
                     </div>
                     <p>نوع العداد</p>
                     <div class="radio-btn">
                        <p>
                           <input type="radio" id="html" value="مسبق الدفع" name="counter_type">
                           <label for="html">مسبق الدفع</label>
                        </p>
                        <p>
                           <input type="radio" id="plain_text" value="فاتورة" name="counter_type">
                           <label for="plain_text">فاتورة</label>
                        </p>
                     </div>
                     <p>ما هو معدل إستهلاك الكهرباء الشهري</p>
                     <p>
                        <select name="electricity_consumption" required>
                           <option value="">----</option>
                           <option value="أقل من 100 شيكل">أقل من 100 شيكل</option>
                           <option value="من 100 شيكل إلى 200 شيكل">من 100 شيكل إلى 200 شيكل</option>
                           <option value="من 200 شيكل إلى 300 شيكل">من 200 شيكل إلى 300 شيكل</option>
                           --
                           <option value="من 300 شيكل إلى 400 شيكل">من 300 شيكل إلى 400 شيكل</option>
                           <option value="من 400 شيكل إلى 500 شيكل">من 400 شيكل إلى 500 شيكل</option>
                           <option value="أكثر من 500 شيكل">أكثر من 500 شيكل</option>
                        </select>
                     </p>
                     <p>ملكية السطح</p>
                     <div class="radio-btn">
                        <p>
                           <input type="radio" id="html" value="html" name="surface_ownership">
                           <label for="html">ملك</label>
                        </p>
                        <p>
                           <input type="radio" id="plain_text" value="plain_text" name="surface_ownership">
                           <label for="plain_text">إستئجار</label>
                        </p>
                     </div>
                     <p>ما هو نوع سطح المنشأة المنوي تركيب النظام عليها؟</p>
                     <p>
                        <select name="type_of_roof" required>
                           <option value="">-----</option>
                           <option value="باطون">باطون</option>
                           <option value="قرميد">قرميد</option>
                           --
                           <option value="زينكو">زينكو</option>
                           <option value="خشب">خشب</option>
                        </select>
                     </p>
                     <p>هل لديك أي ملاحظات أو معلومات تود إعلامنا بها ؟</p>
                     <p>
                        <textarea id="interest" name="user_interest" required></textarea> <br/>
                     </p>
                  </div>
               </fieldset>
            </form>
            <div class="footer">
               
                  <button type="submit">تأكيد الطلب</button></a>
               <p>&copy;  سلطة الطاقة والموارد الطبيعية الفلسطينية - مشروع الصندوق الدوار الممول من قبل البنك الدولي</p>
            </div>
         </main>
        </form>
      </div>
   </body>


   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <script>
      $("input:checkbox").on('click', function() {
  var $box = $(this);
  if ($box.is(":checked")) {
    var group = "input:checkbox[name='" + $box.attr("name") + "']";
    $(group).prop("checked", false);
    $box.prop("checked", true);
  } else {
    $box.prop("checked", false);
  }
});
   </script>
   
</html>